@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.table th:nth-child(1) {
    width: 3%;
  }
  .txt_align{
    text-align: center;
  }
  .table th:nth-child(6) {
    text-align: center;
  }
 
.list-container {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .btn-align_user {
    display: flex;
    justify-content: end;
  }
  .user-button1 {
    padding: 10px 20px;
    background-color: #00b4b6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
  }
  input::placeholder {
    font-family: 'Roboto', sans-serif !important;
    color: grey !important; /* Optional: Change placeholder color */
  }
  .user-button1:hover {
    background-color: #03a2a5;
    transform: scale(1.05);
  }
  .Usercontrols{
    display: flex;
    justify-content: flex-end; 
    align-items: center;     
    /* margin-top: 3%;         */
    padding: 10px;          
  
  }  
  .search-bar {
    padding: 10px;
    margin-right: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  .search-bar:focus {
    border-color: #00b4b6;
    box-shadow: 0 0 5px rgba(0, 180, 182, 0.6);
  }
  /* popup style */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background-color: white;
    padding: 0px 10px 20px 10px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
  }
  
  .popup-content h2 {
    margin-bottom: 20px;
  }
  
  .popup-content input {
    width: 60%;
    padding: 10px;
    margin-bottom: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  
  @media (max-width: 600px) {
    .popup-content {
      width: 100%;
    }
  }
  .btn_cancelClr{
    background-color: white;
    color: #00b4b6;
    border: 1px solid #00b4b6;
    border-radius: 5px;
    padding: 7px;
    font-size: 18px;
    width:auto;
    text-decoration: none;
    cursor: pointer;
  }
  .btn_submitclr{
    background-color: #00b4b6;
    color:white;
    border: 1px solid #00b4b6 !important;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    font-size: 18px;
    width: auto;
    text-decoration: none;
    outline: none; 
    box-shadow: none;
    margin-right: 24px;
  }
  .status_style{
    width: 70%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    text-align: start;
    margin-left: 15%;
  }
  .mrg_bottom{
    margin-bottom: 14px;
  }
  .btn_noClr{
    background-color: white;
    color: #00b4b6;
    border: 1px solid #00b4b6;
    border-radius: 5px;
    padding: 7px;
    font-size: 18px;
    width:18%;
    text-decoration: none;
    cursor: pointer;
  }
  .btn_yesclr{
    background-color: #00b4b6;
    color:white;
    border: 1px solid #00b4b6 !important;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px;
    font-size: 18px;
    width: 18%;
    text-decoration: none;
    outline: none; 
    box-shadow: none;
    margin-right: 24px;
  }
  .ft_wt{
    font-weight: 500;
  }
  .icon_style{
    font-size: 20px;
  }
  .regNumFont{
   color: #3c7da5
  }
  .cancelStyle{
    font-size: 26px;
    color: red;
  }